USE [master]
GO
/****** Object:  Database [AutoSortingDB]    Script Date: 2024-07-22 오후 3:23:45 ******/
CREATE DATABASE [AutoSortingDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AutoSortingDB', FILENAME = N'C:\Datas\MSSQL16.MSSQLSERVER\MSSQL\DATA\AutoSortingDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AutoSortingDB_log', FILENAME = N'C:\Datas\MSSQL16.MSSQLSERVER\MSSQL\DATA\AutoSortingDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AutoSortingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AutoSortingDB]
GO
/****** Object:  Table [dbo].[Classification]    Script Date: 2024-07-22 오후 3:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classification](
	[ClassificationCode] [int] NOT NULL,
	[ClassificationName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Classification] PRIMARY KEY CLUSTERED 
(
	[ClassificationCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConnectLog]    Script Date: 2024-07-22 오후 3:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConnectLog](
	[ConnectIdx] [int] IDENTITY(1,1) NOT NULL,
	[UserIdx] [int] NOT NULL,
	[ConnectDT] [datetime] NOT NULL,
 CONSTRAINT [PK_ConnectLog] PRIMARY KEY CLUSTERED 
(
	[ConnectIdx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Delivery]    Script Date: 2024-07-22 오후 3:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Delivery](
	[DeliveryNum] [int] NOT NULL,
	[OrderNum] [int] NOT NULL,
	[DeliveryStatus] [nvarchar](50) NOT NULL,
	[StartDT] [datetime] NULL,
	[CompleteDT] [datetime] NULL,
	[Destination] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Delivery] PRIMARY KEY CLUSTERED 
(
	[DeliveryNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 2024-07-22 오후 3:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[InventoryNum] [int] IDENTITY(1,1) NOT NULL,
	[ProductCode] [int] NOT NULL,
	[SalesRate] [int] NOT NULL,
	[Stock] [int] NOT NULL,
	[SafeStock] [int] NULL,
	[Procurement] [int] NULL,
 CONSTRAINT [PK_Inventory_1] PRIMARY KEY CLUSTERED 
(
	[InventoryNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2024-07-22 오후 3:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderNum] [int] NOT NULL,
	[InventoryNum] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[OrderDT] [datetime] NOT NULL,
	[CancelOrNot] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_Orders_1] PRIMARY KEY CLUSTERED 
(
	[OrderNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2024-07-22 오후 3:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductCode] [int] NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[Price] [int] NOT NULL,
	[Classification] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2024-07-22 오후 3:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserIdx] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](20) NOT NULL,
	[ID] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserIdx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkStatus]    Script Date: 2024-07-22 오후 3:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkStatus](
	[WorkNum] [int] IDENTITY(1,1) NOT NULL,
	[OrderNum] [int] NOT NULL,
	[DeliveryNum] [int] NOT NULL,
	[ProcessDT] [datetime] NOT NULL,
	[CompleteOrNot] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_WorkStatus] PRIMARY KEY CLUSTERED 
(
	[WorkNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Classification] ([ClassificationCode], [ClassificationName]) VALUES (1, N'신선식품')
INSERT [dbo].[Classification] ([ClassificationCode], [ClassificationName]) VALUES (2, N'가공식품')
INSERT [dbo].[Classification] ([ClassificationCode], [ClassificationName]) VALUES (3, N'건강식품')
GO
SET IDENTITY_INSERT [dbo].[ConnectLog] ON 

INSERT [dbo].[ConnectLog] ([ConnectIdx], [UserIdx], [ConnectDT]) VALUES (1, 1, CAST(N'2024-07-22T15:13:08.457' AS DateTime))
SET IDENTITY_INSERT [dbo].[ConnectLog] OFF
GO
INSERT [dbo].[Delivery] ([DeliveryNum], [OrderNum], [DeliveryStatus], [StartDT], [CompleteDT], [Destination]) VALUES (3000001, 2024030101, N'배송완료', CAST(N'2024-03-01T10:00:00.000' AS DateTime), CAST(N'2024-03-02T15:00:00.000' AS DateTime), N'서울')
INSERT [dbo].[Delivery] ([DeliveryNum], [OrderNum], [DeliveryStatus], [StartDT], [CompleteDT], [Destination]) VALUES (3000002, 2024030102, N'배송완료', CAST(N'2024-03-02T11:00:00.000' AS DateTime), CAST(N'2024-03-03T16:00:00.000' AS DateTime), N'부산')
INSERT [dbo].[Delivery] ([DeliveryNum], [OrderNum], [DeliveryStatus], [StartDT], [CompleteDT], [Destination]) VALUES (3000003, 2024030103, N'배송완료', CAST(N'2024-03-03T12:00:00.000' AS DateTime), CAST(N'2024-03-04T17:00:00.000' AS DateTime), N'대구')
GO
SET IDENTITY_INSERT [dbo].[Inventory] ON 

INSERT [dbo].[Inventory] ([InventoryNum], [ProductCode], [SalesRate], [Stock], [SafeStock], [Procurement]) VALUES (1, 10001, 500, 1000, 200, 300)
INSERT [dbo].[Inventory] ([InventoryNum], [ProductCode], [SalesRate], [Stock], [SafeStock], [Procurement]) VALUES (2, 10002, 300, 800, 150, 200)
INSERT [dbo].[Inventory] ([InventoryNum], [ProductCode], [SalesRate], [Stock], [SafeStock], [Procurement]) VALUES (3, 10003, 200, 600, 100, 150)
SET IDENTITY_INSERT [dbo].[Inventory] OFF
GO
INSERT [dbo].[Orders] ([OrderNum], [InventoryNum], [Quantity], [OrderDT], [CancelOrNot]) VALUES (2024030101, 12, 30, CAST(N'2024-03-01T03:21:12.000' AS DateTime), N'N')
INSERT [dbo].[Orders] ([OrderNum], [InventoryNum], [Quantity], [OrderDT], [CancelOrNot]) VALUES (2024030102, 22, 15, CAST(N'2024-03-01T08:34:47.000' AS DateTime), N'N')
INSERT [dbo].[Orders] ([OrderNum], [InventoryNum], [Quantity], [OrderDT], [CancelOrNot]) VALUES (2024030103, 35, 28, CAST(N'2024-03-01T12:57:33.000' AS DateTime), N'N')
GO
INSERT [dbo].[Product] ([ProductCode], [ProductName], [Price], [Classification]) VALUES (10001, N'신선한 사과', 3000, 1)
INSERT [dbo].[Product] ([ProductCode], [ProductName], [Price], [Classification]) VALUES (10002, N'유기농 오렌지', 4500, 1)
INSERT [dbo].[Product] ([ProductCode], [ProductName], [Price], [Classification]) VALUES (10003, N'싱싱한 배', 5000, 1)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserIdx], [UserName], [ID], [PASSWORD]) VALUES (1, N'admin', N'admin', N'admin')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Inventory] ADD  CONSTRAINT [DF_Inventory_SalesRate]  DEFAULT ((0)) FOR [SalesRate]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_CancelOrNot]  DEFAULT ('N') FOR [CancelOrNot]
GO
ALTER TABLE [dbo].[ConnectLog]  WITH CHECK ADD  CONSTRAINT [FK_ConnectLog_Users] FOREIGN KEY([UserIdx])
REFERENCES [dbo].[Users] ([UserIdx])
GO
ALTER TABLE [dbo].[ConnectLog] CHECK CONSTRAINT [FK_ConnectLog_Users]
GO
ALTER TABLE [dbo].[Delivery]  WITH CHECK ADD  CONSTRAINT [FK_Delivery_Orders] FOREIGN KEY([OrderNum])
REFERENCES [dbo].[Orders] ([OrderNum])
GO
ALTER TABLE [dbo].[Delivery] CHECK CONSTRAINT [FK_Delivery_Orders]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_Product] FOREIGN KEY([ProductCode])
REFERENCES [dbo].[Product] ([ProductCode])
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FK_Inventory_Product]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Inventory] FOREIGN KEY([InventoryNum])
REFERENCES [dbo].[Inventory] ([InventoryNum])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Inventory]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Classification] FOREIGN KEY([Classification])
REFERENCES [dbo].[Classification] ([ClassificationCode])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Classification]
GO
ALTER TABLE [dbo].[WorkStatus]  WITH CHECK ADD  CONSTRAINT [FK_WorkStatus_Delivery] FOREIGN KEY([DeliveryNum])
REFERENCES [dbo].[Delivery] ([DeliveryNum])
GO
ALTER TABLE [dbo].[WorkStatus] CHECK CONSTRAINT [FK_WorkStatus_Delivery]
GO
ALTER TABLE [dbo].[WorkStatus]  WITH CHECK ADD  CONSTRAINT [FK_WorkStatus_Orders] FOREIGN KEY([OrderNum])
REFERENCES [dbo].[Orders] ([OrderNum])
GO
ALTER TABLE [dbo].[WorkStatus] CHECK CONSTRAINT [FK_WorkStatus_Orders]
GO
USE [master]
GO
